body{
    background-color: #262D2D;
}

/*----------------------------HERO----------------------------*/

.hero{
  display: flex;
  padding: 0 3rem;
  margin: -1rem 2rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.hero h1{
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(270deg, #6C00F5 10.63%, #00F5A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h4{
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 1rem;
}

/*----------------------------EFFECTS----------------------------*/

.effects{
  padding: 3rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.container-toggle{
  display: flex;
  align-items: center;
}

.effects h3{
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-right: 1rem;
}

.container-clock-location small{
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff
}

.container-clock-location h4{
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff
}

.container-clock-location h6{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color:#fff;
}

.container-clock-location > div{
  display: flex;
  align-items: center;
}

.container-clock-location > div >div{
  margin-right: 0.5rem;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  background-color: #1DB954;
}