/*----------------------------HERO----------------------------*/

.hero{
  display: flex;
  padding: 0 3rem;
  margin: -1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.hero h1{
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(270deg, #6C00F5 10.63%, #00F5A0 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero img{
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
}
/*----------------------------EFFECTS----------------------------*/

.effects{
  padding: 3rem;
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.container-toggle{
  display: flex;
  align-items: center;
}

.container-clock-location small{
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.container-clock-location h4{
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.container-clock-location h6{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.container-clock-location > div{
display: flex;
align-items: center;
}

.container-clock-location > div >div{
margin-right: 0.5rem;
border-radius: 10px;
height: 10px;
width: 10px;
background-color: #1DB954;
}

/*----------------------------ABOUT----------------------------*/

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about > div{
  height: 100px;
  width: 20px;
  border-radius: 2px;
  background: linear-gradient(90deg, #00D9F5 0%, #6C00F5 100%);
  margin-right: 1.5rem;
}


/*----------------------------UX/UI----------------------------*/

.container{
  padding: 3rem;
  margin: 1rem 2rem;
}

.ux-container{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.ux-button{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/*----------------------------PROJETOS----------------------------*/

.projetosContainer{
  display: flex;
  justify-content: space-between;
}

.container-badges{
  display: flex;
  justify-content: space-between;
}

.content{
  margin: -1rem 2rem;
}

/*----------------------------PRINCIPAIS HABILIDADES----------------------------*/

.container-items{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10rem;
  justify-content: space-evenly;
}

.container-contact{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}