.itemCard{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  cursor: pointer;
  text-decoration: none;
}

.itemCard:active{
  text-decoration: none;
}

.itemCard > img{
  margin-bottom: 1rem;
}

